<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Crud App</title>
</head>
<body class="bgcolour">
    <div class="container ">
        <div class="container text-center my-5 bg-secondary rounded"><h3 class="text-light">Task manager</h3></div>
        <div class="row">
            <div class="col-3">
                <div class="card bgcolour_2" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h3 class="mb-3">Add new task</h3>
                        <form action="/" method="post">
                            <input type="text" class="my-2 form-control text-center" placeholder="Enter task description" name="task">
                            <input type="submit" value="Add task" class="my-2 btn btn-primary">
                        </form>

                    </div>
                  </div>
            </div>
            <div class="col mx-3">
                <table class="table table-dark table-hover text-center">
                    <tr>
                        <th>Sno</th>
                        <th>Task description</th>
                        <th>Task Status</th>
                        <th>Action</th>
                    </tr>
                    {% for task in task_data %}
                    <tr> 
                       <td>{{ task.sno }}</td>
                       <td>{{ task.task }}</td>
                       <td>{{ task.status }}</td>
                       <td>
                        <a href="/done/{{ task.sno }}" class="btn btn-success"><i class="fa-regular fa-circle-check"></i></a>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updatemodal{{ task.sno }}">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </button>
                        <a href="/delete/{{ task.sno }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                       </td>
                    </tr>
                    <!-- modal -->
                    <div class="modal fade" id="updatemodal{{ task.sno }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Update task</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <form action="/update/{{task.sno}}" method="post">
                                <input type="text" class="form-control mb-4" placeholder="Enter updated task" value="{{task.task}}" name="updatedtask">
                                <input type="submit" class="btn btn-warning" value="update">
                                </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- modal -->
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/68e82b375f.js" crossorigin="anonymous"></script>
</body>
</html>